<div
  class="card p-4 mt-4 shadow-sm"
  [ngClass]="{ 'confirmation-style': confirmationMode, 'cart-style': !confirmationMode }"
>
  <h3>Order Summary</h3>
  <div class="container" *ngFor="let item of order?.items; let i = index">
    <hr />
    <div class="row item-box align-items-center">
      <div class="col-8 d-flex align-items-center gap-2">
        <button type="button" class="btn btn-sm" (click)="removeItem(i)" *ngIf="allowRemoval">
          X
        </button>

        <h6 class="mb-0">{{ item.name }}</h6>
      </div>
      <div class="col-4 text-end">
        <h6 class="mb-0">{{ item.price | currency: 'USD' : 'symbol' : '1.2-2' }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-1">
        <ul *ngIf="item.description">
          <li *ngFor="let part of item.description.split(',')">
            {{ part.trim() }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="text-end mb-4">
  <h4 class="mt-3">Total: {{ total | currency: 'USD' : 'symbol' : '1.2-2' }}</h4>
</div>
